@font-face {
  font-family: "Bagnard";
  src: url("/fonts/Bagnard/BagnardSans.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Cotham";
  src: url("/fonts/Cotham/CothamSans.otf");
  font-style: normal;
  font-display: swap;
}