@use "app.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 25px;
  padding: 0px 25px 0px 0px;
  .introContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    .heading {
      position: relative;
      display: block;
      font-family: Bagnard;
      font-size: 48px;
      margin: 0;
      padding: 0;
    }
    .excerpt {
      position: relative;
      display: block;
      font-family: Cotham;
      font-size: 18px;
      margin: 20px 0px 30px 0px;
      padding: 0px 0px 0px 5px;
    }
    .buttonContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: app.$black;
      width: 201px;
      height: 67px;
      margin: 0px 0px 0px 5px;
      z-index: 2;
      .text{
        position: relative;
        display: block;
        font-family: Bagnard;
        font-size: 24px;
        font-style: none;
        line-height: 125%;
        color: app.$white;
        padding: 0px 0px 0px 25px;
      }
      .imageWrapper {
        position: relative;
        display: block;
        width: auto;
        height: 100%;
        padding: 6px 6px;
        .buttonArrow {
          position: relative;
          display: block;
        }
      }
    }
    .outlinedShadow {
      position: relative;
      display: block;
      color: app.$black;
      background-image: url("/outline-button-shadow.png");
      width: 201px;
      height: 67px;
      bottom: 50px;
      left: 17px;
      z-index: 1;
    }
  }
  .excerptContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    .heading {
      position: relative;
      display: block;
      font-family: Bagnard;
      font-size: 48px;
      margin: 0;
      padding: 0;
    }
    .excerpt {
        position: relative;
        display: block;
        font-family: Cotham;
        font-size: 18px;
        margin: 20px 0px 30px 0px;
        padding: 0px 0px 0px 5px;
    }
  }
  .faqContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: auto;
      margin: 0px 0px 0px 0px;
      padding: 0px 25px 0px 0px;
    .faqBox {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        min-height: auto;
        max-height: auto;
        background-color: transparent;
        border: 2px solid app.$black;
        padding: 20px 0px 20px 15px;
        .qaContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: auto;
            max-height: auto;
            .questionContainer {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                min-height: auto;
                max-height: auto;
            .question {
                position: relative;
                display: flex;
            }
            .close {
                position: relative;
                display: block;
                padding: 0px 30px 0px 0px;
            }
            .open {
                position: relative;
                display: block;
                padding: 0px 30px 0px 0px;
            }
            .answer {
                position: relative;
                display: flex;
            }
        }
        }
    }
  }
}
