@use "app.scss";

.footerContainer {
position: relative;
display: flex;
flex-direction: column;
font-family: Bagnard;
width: 100%;
height: auto;
padding: 25px 25px;
color: app.$white;
background-color: app.$black;
.subheader {
    position: relative;
    display: block;
    font-size: 30px;
    margin: 0px 0px 5px 7.5px;
}
.pageTitleContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 42px;
}
.contactContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 5px solid app.$white;
    margin: 20px 0px 0px 0px;
    .text {
    letter-spacing: 0.5px;
    }
}
}