@use "app.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  .toggleMenuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: Bagnard;
    width: 100%;
    height: 100%;
    padding: 25px 25px;
    color: app.$white;
    background-color: app.$black;
    z-index: 3;
    .topBannerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-family: Bagnard;
      width: 100%;
      height: auto;
      color: app.$white;
    .subheader {
      position: relative;
      display: block;
      font-size: 30px;
      margin: 0px 0px 0px 7.5px;
    }
    .menuClose {
      position: relative;
      display: flex;
      align-items: center;
      width: 50px;
      height: auto;
      color: app.$white;
    }
  }
    .pageTitleContainer {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      font-size: 42px;
    }
  }
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    border: 1px solid red;
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 2;
    .menuContainer {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: transparent;
      border: 1px solid red;
      z-index: 2;
      .logo {
        position: relative;
        display: flex;
        font-family: Bagnard;
        font-size: 42px;
        padding: 0;
        margin: 7.5px 0 0 15px;
      }
      .iconWrapper {
        position: relative;
        display: flex;
        width: 50px;
        height: 34px;
        margin: 7.5px 15px 0px 0px;
        .menuIcon {
          position: relative;
        }
      }
    }
    .video {
      position: relative;
      display: block;
    }
  }
}